*{
    padding: 0 auto;
    margin: 0 auto;
}

#title{
    text-align: center;
    padding: 40px;
}
.card{
    border: 2px solid black;
    width: 200px;
}

.card_row{
    display: flex;
    padding-top: 30px;
}

.your_gold{
    display: flex;
}

.gold {
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
}

.activities {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;

}

#button{
    width: 100px;
    background-color: yellow;
    margin: 0 auto;
    margin-bottom: 20px;
}
