*{
    padding: 0 auto;
    margin: 0 auto;
}

.background{
    background-image: url('https://uploads.dailydot.com/207/4e/gifhistory2a.gif?auto=compress&fm=gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.main{
    height: 930px;
}

#title{
    text-align: center;
    padding: 40px;
}
.card{
    border: 2px solid whitesmoke;
    width: 200px;
    opacity: 50%;
    padding: 3px;
    text-align: center;
    height: 260px;
}

.card:hover {
    opacity: 80% ;
}

.card_row{
    display: flex;
    padding-top: 30px;
}

.your_gold{
    display: inline-block;
    color: black;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-left: 140px;
    background-color: whitesmoke;
    opacity: 50%;
    border-radius: 20px;
}

.your_gold:hover{
    opacity: 80%;
}

.gold {
    border: 1px solid gray;
    display: inline-block;
    padding: 5px;
}

#tracker{
    margin-right: 600px;
}

.activities {
    width: 800px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 20px;
}

.activity{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    border: 1px solid white;
    width: 1000px;
    background-color: whitesmoke;
    opacity: 50%;
    border-radius: 20px;
}

.activity:hover{
    opacity: 80%;
}



#button{
    width: 100px;
    background-color: yellow;
    margin: 0 auto;
    margin-bottom: 20px;
}


.green{
    color: green;
}

.red{
    color: red;
    font-size: 16px;
}